<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>background-processing</string>
		<string>background-app-refresh</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.doggydaycare.backup</string>
		<string>com.doggydaycare.midnight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take profile pictures of dogs.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to the photo library to select profile pictures of dogs.</string>
</dict>
</plist>
